h1{
    color: red;
    font-size: 25px;
    font-family: 'Lucida Sans', sans-serif;
}

p{
    color: blue; 
    font-size: 20px;
}

img{
    border-radius: 24px;
    width: 330px;
    height: 185px;
}